.detail {
  h1 {
    text-align: center;
  }

  &_item {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
    p {
      padding: 0;
      margin: 0 !important;
    }

    &_key {
      font-weight: 700;
      text-transform: capitalize;
    }

    &_line {
      flex: 1;
      border-bottom: 2px dashed black;
    }
  }
}
