.navigation {
  justify-content: space-between;
  background-color: white;
  padding: 0;

  &_home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }

  &_text {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    color: black;
  }

  .home-icon {
    transform: scale(1.4);
  }
  position: relative;
  &_create {
    position: absolute;
    top: 90px;
    right: 0;
  }

  &_routes {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
